/* CSS Stylesheet for the COMP2110 Bob's Jobs Board */
/* Author: Mingxin.Yang                     */

html { 
    color:rgb(43, 41, 42);
    font-family:'Courier New', Courier, monospace;
    background-color:#020631;
    font-style:bold; 
}

header {
   background-image: url("https://media.wired.com/photos/5b6e035177a9d822a4642726/191:100/w_2292,h_1200,c_limit/Identifying-Hackers_REALONE.jpg");
  background-size:50%;
}
.logo{ 
    color:#ebd15f;
    font-size:70px;
    text-decoration:none;
    text-align:center;
    font-family:fantasy;
    font-style:italic;
    text-shadow:2px 4px #110e02
}

.currentpage{
    color:#c2b941;
    font-size: 20px;
    font-weight:bold;
}
a:link{
    color:rgb(255, 219, 250);
}
.pagelink{
     background-color: rgb(117, 106, 6);
    padding: 4px 10px;
    margin:2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:small;
    color:rgb(167, 252, 247);

}
.pagelink:hover{
    background-color:rgb(240, 255, 157);
    color:rgb(64, 0, 66);
}
.search-input-field{
    margin-left: 5px;
    width:100px;
}
.search-button{
     background-color:rgb(117, 106, 6);
    color:#f8f6d4;
    margin-right:15x;
    margin-left:10px;
}
.search-button:hover{
   background-color:rgb(78, 255, 231);
   color:rgb(148, 71, 0);

}

.main-menu{
    text-align:center;
    margin:20px;
  color: rgb(3, 146, 99);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.page-header{
    text-align:center;
    color: rgb(255, 219, 250);
    font-size: 20px;
}
.header-search{
    text-align:center;
    width:1150px;
     padding-left: 50px;
     color:#c2b941;
     font-style:oblique;
     font-size:x-large;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-shadow:0.5px 1px #110e02;
}
#login-link,#register-link{
    background-color: rgb(117, 106, 6);
    padding: 4px 10px;
    margin:3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color:rgb(167, 252, 247);
    font-size:medium;
}
#login-link:hover,#register-link:hover{
    background-color:#eecc35;
    color:black;
}
.jobtitle{
color:#e9dc24;
font-size:x-large;
text-decoration-line: none;
text-align:center;
font-weight:bolder;
font-size:50px;
text-shadow:2px 4px #110e02;
}
.company,.location,.salary{
    font-size:large;
    color:#c2b941;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}
.job {
    width: 1000px;
   margin-left:100px;
    border: 4px solid rgb(3, 13, 56);
    border-style:groove;
    width:950px;
    margin-left:140px;

}
main {
    background-color: cadetblue;
}

footer {  

    height:70px;
    background-color: #c2b941;
}
#employer-feedback{
    text-align:center;
    display:grid;
    grid-template-columns:2;
    grid-template-rows:1;
   
}
#employer-feedback h2{
    margin-right:-60px;
    background-color:rgb(226, 212, 8);
    color:black;
    text-align:center;
    text-shadow:none;
    
}
#employer-feedback h3{
    font-size:31px;
}
.testimonial{
    background-color:rgb(83, 119, 97);
    
}
.testimonial h3{
    color:#c2b941;
    text-shadow:2px 4px #110e02;
}
.testimonial:first-child{
    padding-top:100px;
    grid-column:1;
    grid-row:1;
}
.testimonial-body li{
    text-align:center;
    margin-left:80px;
    padding-right:100px;
}
.testimonial:nth-child(2){
    margin-top:75px;
    grid-column:2;
    grid-row:1/span 2;
    
}
aside {
    background-color:rgb(83, 119, 97);
    height:360px;
}
#search-hints-terms{
display:grid;
grid: 150px / auto auto auto;
  grid-gap: 10px;
  padding:10px;
}
aside h2{
    color:#c2b941;

    text-shadow:2px 4px #110e02;
  text-align:center;
  padding-top:10px;
}
#search-hints a{
  color: rgb(30, 173, 85);
}
#search-hints a:hover{
    color: rgb(78, 255, 231);
  }